@import url('https://fonts.googleapis.com/css?family=Imprima');
@import url('https://fonts.googleapis.com/css?family=Noto Sans JP');

* {
    &, ::after, ::before {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }
    &:not(input)::selection {
        background: yellow;
    }
    &:not(input)::-moz-selection {
        background: yellow;
    }
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Imprima, 'Noto Sans JP';
}

img {
    display: block;
}

a {
    color: #d79e69;
}

ruby rt {
    font-size: .5rem;
}

.d-block { display: block !important; }
.d-inline-block { display: inline-block !important; }
.d-flex { display: flex !important; }
.d-none { display: none !important; }

.position-relative { position: relative !important; }
.position-absolute { position: absolute !important; }

.m-0 { margin: 0 !important; }
.mr-auto { margin-right: auto !important;}
.ml-auto { margin-left: auto !important;}
.p-0 { padding: 0 !important; }

.w-100 { width: 100% !important; }
.h-100 { height: 100% !important; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-bold { font-weight: bold; }

.border-0 { border: 0 !important; }
.border-1 { border-width: 1px !important; border-style: solid !important; }
.border-top-0 { border-top: 0 !important; }
.border-right-0 { border-right: 0 !important; }
.border-bottom { border-bottom: 1px; border-bottom-style: solid; }
.border-bottom-0 { border-bottom: 0 !important; }
.border-left-0 { border-left: 0 !important; }

.border-rounded {
    border-radius: 0.25rem!important;
}

.border-gray { border-color: #6c757d !important; }
.border-black { border-color: #000000 !important; }
.border-red { border-color: #d0021b !important; }
.border-orange { border-color: #ff8414 !important; }
.border-blue { border-color: #0a6fe4 !important; }


.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

// ---> Fade Set
.fade {
    opacity: 0;
    transition: opacity .15s linear;
    &:not(.show) {
        opacity: 0;
    }
    &.show {
        opacity: 1;
    }
}

// ---> Dropdown Set
.dropdown {
    display: inline-block;
    position: relative;
    .dropdown-toggle + .dropdown-menu {
        display: none;
        position: absolute;
        margin: .125rem 0 0;
        padding: 3px;
        min-width: 7rem;
        background-color: #ffffff;
        box-shadow: 0 1px 8px 0 #a9b8cb;
        z-index: 100;
        & > .dropdown-text {
            margin: 0;
            padding: 3px 6px;
            width: 100% !important;
            color: #364860;
            font-size: 14px;
            text-align: left;
            font-weight: bold;
        }
        & > .dropdown-item {
            display: flex;
            margin: 0;
            padding: 3px 6px;
            width: 100% !important;
            min-height: 30px;
            color: #364860;
            font-size: 14px;
            text-align: left;
            border: 0;
            background-color: #ffffff;
            align-items: center;
            white-space: nowrap;
            &:not(:last-child) { border-bottom: 1px solid #ecf1f5; }
            &:hover { background-color: #ecf1f5; }
            & input[type="radio"] {
                margin: 0 4px 0 0;
            }
            &.ASC::after {
                content: '⬇️';
                margin: -2px 0 0 4px;
                color: red;
            }
            &.DESC::after {
                content: '⬆️';
                margin: -2px 0 0 4px;
                color: green;
            }
        }
        &.show {
            display: block;
        }
    }
}

// ---> Modal Set
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1100;
    &.show {
        display: block;
    }
    & > .modal-dialog {
        display: flex;
        padding: 1.75rem 0;
        min-height: 100%;
        max-height: 100%;
        justify-content: center;
        flex-direction: column;
        & > .modal-content {
            display: flex;
            position: relative;
            margin: 0 auto;
            padding: 15px 30px;
            width: auto;
            max-width: 90%;
            background-color: #ffffff;
            box-shadow: 0 1px 8px 0 #a9b8cb;
            flex-direction: column;
            overflow: hidden;
            & > .modal-header {
                display: flex;
                padding: 5px 0 0 0;
                width: 100%;
                font-size: 24px;
                font-weight: bold;
                align-items: flex-start;
                justify-content: space-between;
                & > .modal-title {
                    padding: 20px 0 12px 0;
                }
            }
            & > .modal-body {
                overflow: auto;
                .modal-text {
                    margin-bottom: 10px;
                    margin-left: 10px;
                    font-weight: bold;
                }
            }
            & > .modal-footer {
                display: flex;
                padding: 20px 0 5px;
                width: 100%;
                justify-content: flex-end;
                & > *:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }
    }
}
.modal-backdrop { // body append backdrop
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1010;
    &.show {
        opacity: .5;
    }
}

/* ---> Overlay Set */
.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0 none !important;
    z-index: 1000;
    // align-items: center !important;
    // justify-content: center !important;
    &:not(.active) {
        display: none;
    }
}

// ---> Pager Set
.pager {
    display: flex;
    padding: 8px;
    align-items: center;
    & > span:first-child {
        display: flex;
        padding: 3px;
        border-radius: 4px;
        background-color: #dee3eb;
        box-shadow: 0 2px 4px 0 #a9b8cb;
        & > .btn-last::after {
            content: '◀️';
            width: 18px;
            height: 18px;
            opacity: .8;
            &:hover { opacity: .9 }
            &:active { opacity: 1 }
            &:disabled { opacity: .5 }
        }
        & > .pager-display {
            display: inline-block;
            padding: 1px 11px 0;
            font-weight: bold;
        }
        & > .btn-next::after {
            content: '▶️';
            width: 18px;
            height: 18px;
            opacity: .8;
            &:hover { opacity: .9 }
            &:active { opacity: 1 }
            &:disabled { opacity: .5 }
        }
    }
}

// ---> Progress Set
.progress {
    padding: 3px;
    width: 100%;
    background-color: #f5f8fa;
    overflow: hidden;
    .progress-bar {
        display: flex;
        height: 100%;
        background-color: deepskyblue;
        transition: width 0.3s ease-out;
        justify-content: center;
        // overflow: hidden;
    }
}

// ---> Table Set
.table {
    width: 100%;
    border-collapse: collapse;
    &.table-striped-gray tbody tr.odd {
        background-color: #fefefe !important;
    }
    &.table-striped-gray tbody tr:nth-of-type(odd) {
        background-color: #fefefe;
    }
    &.table-striped-gray tbody tr.even {
        background-color: #f7f7f7 !important;
    }
    &.table-striped-gray tbody tr:nth-of-type(even) {
        background-color: #f7f7f7;
    }
    &.border-0 tr th,
    &.border-0 tr td {
        border: 0 !important;
    }
    tr {
        background-color: #fff;
        &.paged,
        &.filtered,
        &.grouped {
            display: none !important;
        }
        th {
            position: relative;
            padding: 0 10px;
            height: 40px;
            font-weight: bold;
            border: 1px solid #ecf1f5;
            background-color: #dee3eb;
            text-align: left;
            white-space: nowrap;
            label {
                display: flex;
                position: absolute;
                margin: 0;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                justify-content: center;
                align-items: center;
            }
            &:empty {
                height: 20px;
            }
        }
        td {
            position: relative;
            padding-right: 10px;
            padding-left: 10px;
            height: 40px;
            border: 1px solid #ecf1f5;
            white-space: nowrap;
            &:first-child label {
                display: flex;
                position: absolute;
                margin: 0;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &.table-text-only tr {
        th, td {
            height: auto;
        }
    }
}

