@import './_default.scss';

body {
    position: relative;
    display: flex;
    color: #ffffff;
    background-color: #343a40;
    flex-direction: column;
}

.nav {
    display: flex;
    background-color: #1f1e24;
    box-shadow: 0px 1px 1px #77777777;
    align-items: center;
    
    img.brand {
        margin: 5px 20px;
        width: 30px;
        height: auto;
        border-radius: 50%;
    }
}

.footer {
    display: flex;
    height: 22px;
    font-size: 12px;
    line-height: 16.5px;
    letter-spacing: 0.7px;
    background-color: #777777;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    .content {
        margin: 20px;
        padding: 10px;
        min-width: min(100% ,1000px);

        background-color: #1f1e24;
    }
}

