.inv-slot {
    position: relative;
    display: inline-block;
    background: #8B8B8B no-repeat center center / 32px 32px;
    border: 2px solid;
    border-color: #373737 #FFF #FFF #373737;
    width: 36px;
    height: 36px;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    vertical-align: bottom;
}
.inv-item {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../image/InvSprite.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
.inv-item-chest {
    background-position: -704px -1216px;
}
.inv-item-wooddoor1 {
    background-position: -512px -928px;
}
.inv-item-wooddoor2 {
    background-position: -800px -928px;
}
.inv-item-wooddoor3 {
    background-position: -256px -928px;
}
.inv-item-wooddoor4 {
    background-position: -448px -928px;
}
.inv-item-wooddoor5 {
    background-position: -192px -928px;
}
.inv-item-wooddoor6 {
    background-position: -320px -928px;
}
.inv-item-irondoor {
    background-position: -384px -928px;
}
.inv-item-pickaxe1 {
    background-position: -160px -3584px;
}
.inv-item-pickaxe2 {
    background-position: -32px -3584px;
}
.inv-item-pickaxe3 {
    background-position: -736px -3552px;
}
.inv-item-pickaxe4 {
    background-position: -608px -3552px;
}
.inv-item-pickaxe5 {
    background-position: -256px -3552px;
}
.inv-item-bow {
    background-position: -992px -1248px;
}
.inv-item-glass {
    background-position: -960px -3232px;
}
.inv-item-fire {
    background-image: url(../image/InvFire.gif);
}
.inv-item-water {
    background-image: url(../image/InvWater.png);
    background-size: 32px;
}
.inv-item-tnt {
    background-position: -960px -3584px;
}